* {
  font-family: 'Trebuchet MS', Avenir, sans-serif;
}

.wrapper {
  width: 90%;
  margin: 25px auto;
}

table, th, td {
  padding: 4px 10px;
  border-collapse: collapse;
  border: 1px solid black;
}

th, tr:nth-child(even) {
  background-color: gainsboro;
}
